:root{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: blueviolet;
}

body {
    font-family: Arial, Helvetica, sans-serif;

}

input {
    max-width: 350px;
}

.form_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

